<header class="site-header" role="banner">

  <link rel="stylesheet" href="/css/academicons.min.css"/>
  <link rel="stylesheet" href="/css/fontawesome/all.min.css"/>

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        <img src="{{ "/images/icon.svg" | relative_url }}" alt="Site Icon" style="width: 40px; height: 40px; vertical-align: middle; margin-right: 8px;">
        {{ site.title | escape }}
    </a>

    <nav class="site-nav">
      <a class="page-link {% if page.id == 'home' %}current-page{% endif %}" href="/">Home</a>
      <a class="page-link {% if page.id == 'scheduling' %}current-page{% endif %}" href="/scheduling">Scheduling</a>
    </nav>
  </div>
</header>
