---
---

@import "minima";

.site-header {
    border-top: 0;
}

.is-embedded #acuity-footer {
    display: none;
}

.site-nav .page-link {
    text-decoration: none; /* Remove the default underline */
    padding: 0 10px; /* Add space between the separator and text */
    color: #333; /* Default link color */
}

/* Highlight the current page with an underline */
.site-nav .current-page {
    text-decoration: underline; /* Add underline for current page */
    font-weight: bold; /* Optionally make it bold */
}

.wrapper {
    max-width: calc(1150px - (30px * 2));  /* Change this to your desired width */
    margin: 0 auto;    /* This centers the content */
}

.image-icon-wrapper {
    float: right;
    margin-left: 40px;
    margin-bottom: 0px;
    width: 350px; /* The same width as your image */
    text-align: center; /* This will center the icons */
}

.small-image-icon-wrapper {
    float: left;
    margin-right: 20px;
    width: 150px; /* The same width as your image */
    text-align: center; /* This will center the icons */
}


.icon-container {
  float: left;
  margin-right: auto;
  margin-top: 10px;
  margin-left: 0px;
}

.icon-container a {
  margin-right: 10px; /* spacing between icons */
  color: inherit; /* this makes sure the icons take the color of the surrounding text */
  text-decoration: none; /* removes the underline from the links */
}

